a {
    color: transparent !important;
}

.default-side-padding {
    padding: 0 20px;
}

.white-footer {
    background: #ffffff;
    height: 60px;
    padding: 0 10px;
}

.section-title {
    font-size: 18px;
    margin: 0 0 10px;
    color: #DA3C40;
    font-weight: bold;
}

.simple-divider {
    height: 10px;
}